@media (max-width: 1400px) {
    .dropdown .dropdown-menu {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    /* width: 1000px !important; */
    left: -600% !important;
    
}
}


@media (max-width: 1200px) {
    .hero-section {
        margin-block: 80px;
        padding-block: 160px;
        min-height: 100vh;
        margin-bottom: 80px;
    }
}


@media (max-width: 992px) {
    nav {
        display: flex;
        align-items: center;
    }
    .navbar {
        min-height: 60px;
        padding: 10px 0;
    }
    .navbar .nav-link.active::before,
    .navbar .nav-link:focus::before,
    .navbar .nav-link:hover::before {
     width: 0%;
    }
    .navbar .nav-link a:hover {
        font-weight: 500;
    }
    .navbar .nav-link::before {
        display: none;
    }
    .dropdown-menu {
        width: 100%;
        padding: 0 8px 0 8px !important;
    }
    .dropdown a{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-nav li:hover {
        background-color: #F5F3FF;
    }
    .dropdown-menu .Featured h3 {
        font-size: 14px;
        font-weight: 700 !important;
    }
    .villas {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .dropdown-menu .luxury img,
    .dropdown-menu .modern img {
    width: 48px;
    height: 48px;
    }
    .dropdown-menu .villas .luxury ,
    .dropdown-menu .villas .modern {
        padding: 8px;
        margin-bottom: 0 !important;
    }

    .vella-details h4 {
    color: var(--color-gray-900);
    font-size: 12px;
    font-weight: 500;
    }

    .vella-details p {
    color: var(--color-gray-500);
    font-size: 12px;
    }
    .types {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .dropdown .dropdown-menu {
    width: 100% !important;
    overflow-y: auto;
    }
    .dropdown-menu .col {
        padding: 16px;
        margin-bottom: 16px;
    }
    .dropdown-menu .cities {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    .dropdown-menu .cities .cities-details {
        padding: 12px !important;
        height: 100%;
        border-radius: 8px !important;
    }
    .dropdown-menu .cities .cities-details .new {
        font-size: 14px;
        font-weight: 600;
    }
    .dropdown-menu .cities .cities-details .prop {
        font-size: 12px;
    }
    .dropdown-menu .cities .city {
        border-radius: 8px !important;
        height: 64px;
    }
    .res {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .main-res .res-content {
        padding: 12px !important;
    }
    .main-res .res-content .lower-part {
        display: none;
    }
    .main-res .res-content .upper-part .icon-circle {
        width: 32px;
        height: 32px;
    }
    .main-res .res-content .upper-part h4 {
        font-size: 14px;
        font-weight: 600;
    }
    .main-res .res-content p {
        font-size: 12px;
        margin-bottom: 0;
    }
    /*.//////////////////////// hero-section  */
    .hero-section .parent {
        padding-inline: 60px;
    }
    .get-section .get-parent {
    margin-inline: 0 !important;
    }
    .hero-section {
        margin-block: 80px;
        padding-block: 160px !important;
    }

}
@media (max-width: 576px) {
    .navbar-nav li {
        padding: 12px 16px;
    }
    .dropdown .dropdown-menu {
    height: 400px;

    }
    .parent p {
    margin-inline: 0 !important;
    }
    .hero-section {
        padding-block: 160px !important;
        margin-block: 0;
        padding-block: 160px;
        min-height: 100vh !important;
        margin-bottom: 0;
    }
    .hero-section .parent {
        padding-inline: 24px;
    }
}